/* main text color #212121 */
/* second text color #757575*/
/* third text color #FFFFFF */
/* first background color #E5E5E5 */
/* second background color #F5F4FA */
/* hero background color #2F303A */
/* accent color #2196F3 */
/* card-set-gatp  30px */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --accent-color: #2196f3;
  --logo-text-color: #000000;

  --white-color: #ffffff;

  --bgc-hero-footer: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;

  background-color: var(--white-color);
  color: var(--primary-text-color);
}

/* ОБЩИЕ */

.container {
  width: 1200px;

  margin-right: auto;
  margin-left: auto;

  padding: 0 15px 0 15px;

  /* outline: 1px solid teal; */
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Логотип */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;

  color: var(--logo-text-color);
}

.web-logo {
  color: var(--accent-color);

  text-decoration: none;
}

.logo-footer {
  color: var(--white-color);
}

/* Главная навигация */

.page-header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
}

.nav-l .item {
  margin-right: 50px;
}

.nav-a .item {
  margin-right: 0;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.14;
  color: var(--primery-text-color);

  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-adrs {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;

  text-decoration: none;
}

.nav-a .item + .item {
  margin-left: 50px;
  margin-right: 0;
}

.nav-adrs:hover,
.nav-adrs:focus {
  color: var(--accent-color);
}

.nav-a {
  margin-left: auto;
}

/* Футтер */

.footer {
  background-color: var(--bgc-hero-footer);

  font-style: normal;

  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--white-color);
}

.footer-adr {
  display: flex;
  flex-direction: column;
  margin-left: 215px;
}

.footer-adr .address {
  margin-top: 20px;
}

.footer-adr .nav-adrs {
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer-logo {
  margin-left: 215px;
}

/* Кнопка */

.button {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  height: 38px;

  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.buttton-hero {
  color: var(--white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  text-decoration: none;

  padding: 10px 32px 10px 32px;
  border-radius: 4px;
}

.button:active,
.button:focus,
.button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}
