/* Герой */
/* Уточнить цвет background color */
.hero {
  height: 600px;
  text-align: center;
  padding-top: 200px;

  background-color: var(--bgc-hero-footer);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.06em;
}

/* Блок с преимуществами */

.advantages {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
}

.card-set {
  display: flex;
  flex-flow: column;
}

.advantages .card-set + .card-set {
  margin-left: 30px;
}

.card-set .adv-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.card-set .advantages-text {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.about {
  margin-bottom: 94px;
}

.about-title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.link-block {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;

  justify-content: center;
}

.link-block .link + .link {
  margin-left: 30px;
}

/* Наша команда */

.our-team {
  background-color: #f5f4fa;
  padding-top: 90px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  padding-left: 0;
  padding-right: 0;

  justify-content: center;
  background-color: ##f5f4fa;
}

.team-card {
  text-align: center;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card + .team-card {
  margin-left: 30px;
}

.name {
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
}

.name-p {
  margin-top: 30px;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}
